/* line 7, ../scss/style.scss */
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
}

/* line 13, ../scss/style.scss */
.body {
  width: 100%;
}

/* line 16, ../scss/style.scss */
.green {
  background: #37beaf;
  color: white;
  width: 10%;
  position: fixed;
  top: 70px;
  bottom: 0;
  left: 0;
  z-index: 999;
}

/* line 26, ../scss/style.scss */
.white {
  background: white;
  color: #37beaf;
  width: 50%;
  height: 100%;
  margin: 70px 40% 0 10%;
}
/* line 33, ../scss/style.scss */
.white text p {
  display: inline-block;
}

/* line 38, ../scss/style.scss */
.orange {
  background: #fa895f;
  color: white;
  width: 40%;
  position: fixed;
  top: 70px;
  bottom: 0;
  right: 0;
  z-index: 999;
}

/* line 48, ../scss/style.scss */
.purple {
  font-size: 25px;
  text-transform: uppercase;
  background: #727eb2;
  color: white;
  position: fixed;
  height: 70px;
  padding: 15px;
}
/* line 56, ../scss/style.scss */
.purple p {
  margin-left: 30px;
}

/* line 60, ../scss/style.scss */
header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 999;
}

/* line 66, ../scss/style.scss */
.left {
  float: left;
}

/* line 67, ../scss/style.scss */
.right {
  float: right;
}

/* line 68, ../scss/style.scss */
.menu {
  width: 20px;
  height: 15px;
  cursor: pointer;
  margin: 0px 15px 0 5px;
  float: left;
  display: none;
}
/* line 75, ../scss/style.scss */
.menu svg g {
  fill: #ff0200;
}

/* line 79, ../scss/style.scss */
.back {
  position: fixed;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.2);
  z-index: 90;
  display: none;
}

@media (max-width: 768px) {
  /* line 90, ../scss/style.scss */
  .menu {
    display: inline-block;
  }

  /* line 93, ../scss/style.scss */
  .green {
    position: fixed;
    top: 70px;
    bottom: 0;
    left: 0;
    width: 0%;
    z-index: 999;
    transition: 1s;
  }

  /* line 102, ../scss/style.scss */
  .green.slow {
    transition: 1s;
    width: 80%;
  }

  /* line 106, ../scss/style.scss */
  .white {
    display: block;
    margin: 0;
    margin-top: 70px;
    width: 100%;
  }

  /* line 112, ../scss/style.scss */
  .orange {
    display: block;
    position: inherit !important;
    width: 100%;
    height: 100vh;
    z-index: 0;
  }

  /* line 119, ../scss/style.scss */
  img.left, img.right {
    float: left;
  }

  /* line 122, ../scss/style.scss */
  img {
    width: 200px;
    height: auto;
  }
}
